.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  color:yellowgreen;
  background-color: #fff;
  border-radius: 5px;
  padding: 6px;
}

.input {
  width: 150px;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0;
  margin-right: 1.5rem;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}


.search-button {
  min-width: 150px;
  width: auto;
  height: 55px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 16px;
  background-color: hsl(181, 94%, 38%);
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease 0s;

  &:hover {
    background-color: hsl(181, 94%, 32%);
  }
}